[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-decouple = "*"
django = "*"
psycopg2 = "*"
django-crispy-forms = "*"
django-storages = "*"
boto3 = "*"

[requires]
python_version = "3.6"
